<!-- PAGE -->
<div id="page" class="hfeed site">
  <!-- .site-main -->
  <main id="main" class="site-main cd-main">
    <!-- HEADER -->
    <%- include("../partials/header") %>

    <!-- HEADER -->

    <!-- site-middle -->
    <div class="site-middle">
      <div class="layout-medium">
        <div id="primary" class="content-area">
          <!-- site-content -->
          <div id="content" class="site-content" role="main">
            <!-- .page-single -->
            <div class="page-single page-layout">
              <!-- .hentry -->
              <article class="hentry">
                <!-- .entry-header -->
                <header class="entry-header">
                  <h1 class="entry-title">Oh Nooo!</h1>
                </header>
                <!-- .entry-header -->

                <!-- .entry-content -->
                <div class="entry-content">
                  <!-- http-alert -->
                  <div class="http-alert">
                    <h1><i class="pw-icon-way"></i></h1>
                    <p>The page you are looking for was not found!</p>
                  </div>
                  <!-- http-alert -->
                </div>
                <!-- .entry-content -->
              </article>
              <!-- .hentry -->
            </div>
            <!-- .page-single -->
          </div>
          <!-- site-content -->
        </div>
        <!-- primary -->
      </div>
      <!-- layout -->
    </div>
    <!-- site-middle -->

    <!-- .site-footer -->
    <footer id="colophon" class="site-footer" role="contentinfo">
      <!-- .site-info -->
      <div class="site-info">
        <div class="textwidget">
          <p>
            <a href="http://pixelwars.org/"
              >Copyright &copy; 2017 by Pixelwars</a
            >
          </p>
        </div>
      </div>
      <!-- .site-info -->
    </footer>
    <!-- .site-footer -->
  </main>
  <!-- .site-main -->

  <!-- ALERT : used for contact form mail delivery alert -->
  <div class="site-alert animated"></div>
</div>
<!-- PAGE -->

<a href="#" id="back-to-top" class="show">↑ <span>Scroll to top</span></a>
