<!-- PAGE -->
<div id="page" class="hfeed site">
  <!-- .site-main -->
  <main id="main" class="site-main cd-main">
    <!-- HEADER -->
    <%- include("../partials/header") %>

    <!-- HEADER -->

    <!-- site-middle -->
    <div class="site-middle">
      <div class="layout-medium">
        <div id="primary" class="content-area">
          <!-- site-content -->
          <div id="content" class="site-content" role="main">
            <!-- .page-single -->
            <div class="page-single page-layout">
              <!-- .hentry -->
              <article class="page hentry">
                <!-- .entry-header -->
                <header class="entry-header">
                  <h1 class="entry-title">Hakkımda</h1>
                </header>
                <!-- .entry-header -->

                <!-- .entry-content -->
                <div class="entry-content">
                  <div class="boxed is-dark">
                    <div class="row">
                      <div class="col-sm-3">
                        <img
                          src="/tema1/images/site/ben.jpg"
                          alt="about image"
                        />
                      </div>

                      <div class="col-sm-9">
                        <h2 class="fw-300">
                          Merhaba,Ben Tolga Çağlayan. Kendi hâlinde takılan bir
                          <strong>javascript geliştiricisiyim</strong>. Tamamen
                          yenilikçi olmak için çabalayan sıradan birisi falan
                          filan. Solda da beni görüyorsunuz zaten anlatmaya
                          gerek yok.
                        </h2>
                      </div>
                    </div>
                  </div>

                  <!-- SERVICES -->

                  <!-- section-title -->
                  <div class="section-title center">
                    <h2>
                      <i>Verdiğim Hizmetler</i>
                    </h2>
                  </div>
                  <!-- section-title -->

                  <!-- row -->
                  <div class="row">
                    <!-- col -->
                    <div class="col-sm-6 col-lg-3">
                      <!-- service -->
                      <div class="service">
                        <img
                          src="/tema1/images/site/service-01.svg"
                          alt="image"
                        />
                        <h3>Metin yazarı</h3>
                        <p>Yazar değilim.</p>
                      </div>
                      <!-- service -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-sm-6 col-lg-3">
                      <!-- service -->
                      <div class="service">
                        <img
                          src="/tema1/images/site/service-02.svg"
                          alt="image"
                        />
                        <h3>Oyun geliştiricisi</h3>
                        <p>Oyun geliştiricisi değilim.</p>
                      </div>
                      <!-- service -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-sm-6 col-lg-3">
                      <!-- service -->
                      <div class="service">
                        <img
                          src="/tema1/images/site/service-03.svg"
                          alt="image"
                        />
                        <h3>Management</h3>
                        <p>
                          I write about web design. It is a long established
                          fact that a reader will be distracted by the readable
                          content.
                        </p>
                      </div>
                      <!-- service -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-sm-6 col-lg-3">
                      <!-- service -->
                      <div class="service">
                        <img
                          src="/tema1/images/site/service-04.svg"
                          alt="image"
                        />
                        <h3>Çözüm odaklı</h3>
                        <p>Çözüm odaklı işte.</p>
                      </div>
                      <!-- service -->
                    </div>
                    <!-- col -->
                  </div>
                  <!-- row -->
                  <!-- SERVICES -->

                  <!-- PROCESS -->

                  <!-- section-title -->
                  <div class="section-title center">
                    <h2>
                      <i>İş Sürecİ</i>
                    </h2>
                  </div>
                  <!-- section-title -->

                  <!-- row -->
                  <div class="row">
                    <!-- col -->
                    <div class="col-xs-4 col-sm-2">
                      <!-- process -->
                      <div class="process">
                        <img
                          src="/tema1/images/site/process-01.svg"
                          alt="image"
                        />
                        <h4>Araştırma</h4>
                      </div>
                      <!-- process -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-4 col-sm-2">
                      <!-- process -->
                      <div class="process">
                        <img
                          src="/tema1/images/site/process-02.svg"
                          alt="image"
                        />
                        <h4>Fikir</h4>
                      </div>
                      <!-- process -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-4 col-sm-2">
                      <!-- process -->
                      <div class="process">
                        <img
                          src="/tema1/images/site/process-03.svg"
                          alt="image"
                        />
                        <h4>Dizayn</h4>
                      </div>
                      <!-- process -->
                    </div>

                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-4 col-sm-2">
                      <!-- process -->
                      <div class="process">
                        <img
                          src="/tema1/images/site/process-04.svg"
                          alt="image"
                        />
                        <h4>Geliştirme</h4>
                      </div>
                      <!-- process -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-4 col-sm-2">
                      <!-- process -->
                      <div class="process">
                        <img
                          src="/tema1/images/site/process-05.svg"
                          alt="image"
                        />
                        <h4>Test</h4>
                      </div>
                      <!-- process -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-4 col-sm-2">
                      <!-- process -->
                      <div class="process">
                        <img
                          src="/tema1/images/site/process-06.svg"
                          alt="image"
                        />
                        <h4>Final</h4>
                      </div>
                      <!-- process -->
                    </div>
                    <!-- col -->
                  </div>
                  <!-- row -->
                  <!-- PROCESS -->

                  <!-- CLIENTS -->

                  <!-- section-title -->
                  <div class="section-title center">
                    <h2>
                      <i>Proud to work with</i>
                    </h2>
                  </div>
                  <!-- section-title -->

                  <!-- row -->
                  <div class="row">
                    <!-- col -->
                    <div class="col-xs-6 col-sm-3">
                      <!-- client -->
                      <div class="client">
                        <a href="#">
                          <img
                            src="/tema1/images/site/client-01.png"
                            alt="client"
                          />
                        </a>
                      </div>
                      <!-- client -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-6 col-sm-3">
                      <!-- client -->
                      <div class="client">
                        <a href="#">
                          <img
                            src="/tema1/images/site/client-02.png"
                            alt="client"
                          />
                        </a>
                      </div>
                      <!-- client -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-6 col-sm-3">
                      <!-- client -->
                      <div class="client">
                        <a href="#">
                          <img
                            src="/tema1/images/site/client-03.png"
                            alt="client"
                          />
                        </a>
                      </div>
                      <!-- client -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-6 col-sm-3">
                      <!-- client -->
                      <div class="client">
                        <a href="#">
                          <img
                            src="/tema1/images/site/client-04.png"
                            alt="client"
                          />
                        </a>
                      </div>
                      <!-- client -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-6 col-sm-3">
                      <!-- client -->
                      <div class="client">
                        <a href="#">
                          <img
                            src="/tema1/images/site/client-05.png"
                            alt="client"
                          />
                        </a>
                      </div>
                      <!-- client -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-6 col-sm-3">
                      <!-- client -->
                      <div class="client">
                        <a href="#">
                          <img
                            src="/tema1/images/site/client-06.png"
                            alt="client"
                          />
                        </a>
                      </div>
                      <!-- client -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-6 col-sm-3">
                      <!-- client -->
                      <div class="client">
                        <a href="#">
                          <img
                            src="/tema1/images/site/client-07.png"
                            alt="client"
                          />
                        </a>
                      </div>
                      <!-- client -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-6 col-sm-3">
                      <!-- client -->
                      <div class="client">
                        <a href="#">
                          <img
                            src="/tema1/images/site/client-01.png"
                            alt="client"
                          />
                        </a>
                      </div>
                      <!-- client -->
                    </div>
                    <!-- col -->
                  </div>
                  <!-- row -->
                  <!-- CLIENTS -->

                  <!-- FUN FACT -->

                  <!-- section-title -->

                  <div class="section-title center">
                    <h2>
                      <i>fun fact</i>
                    </h2>
                  </div>
                  <!-- section-title -->

                  <!-- row -->
                  <div class="row">
                    <!-- col -->
                    <div class="col-xs-6 col-sm-3">
                      <!-- fun-fact -->
                      <div class="fun-fact">
                        <img
                          src="/tema1/images/site/fun-01.svg"
                          alt="fun fact"
                        />
                        <h4>24 Projects Completed</h4>
                      </div>
                      <!-- fun-fact -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-6 col-sm-3">
                      <!-- fun-fact -->
                      <div class="fun-fact">
                        <img
                          src="/tema1/images/site/fun-02.svg"
                          alt="fun fact"
                        />
                        <h4>7 Books Published</h4>
                      </div>
                      <!-- fun-fact -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-6 col-sm-3">
                      <!-- fun-fact -->
                      <div class="fun-fact">
                        <img
                          src="/tema1/images/site/fun-03.svg"
                          alt="fun fact"
                        />
                        <h4>3500 Photos Taken</h4>
                      </div>
                      <!-- fun-fact -->
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-xs-6 col-sm-3">
                      <!-- fun-fact -->
                      <div class="fun-fact">
                        <img
                          src="/tema1/images/site/fun-04.svg"
                          alt="fun fact"
                        />
                        <h4>12 Design Awards Won</h4>
                      </div>
                      <!-- fun-fact -->
                    </div>
                    <!-- col -->
                  </div>
                  <!-- row -->
                  <!-- FUN FACT -->
                </div>
                <!-- .entry-content -->
              </article>
              <!-- .hentry -->
            </div>
            <!-- .page-single -->
          </div>
          <!-- site-content -->
        </div>
        <!-- primary -->
      </div>
      <!-- layout -->
    </div>
    <!-- site-middle -->

    <!-- .site-footer -->
    <%- include("../partials/footer") %>

    <!-- .site-footer -->
  </main>
  <!-- .site-main -->

  <!-- ALERT : used for contact form mail delivery alert -->
  <div class="site-alert animated"></div>
</div>
<!-- PAGE -->

<a href="#" id="back-to-top" class="show">↑ <span>Scroll to top</span></a>
