<!-- .home-wrap -->
<div class="home-wrap">
  <!-- HOME BG IMAGE -->
  <div
    class="home-bg"
    style="background-image: url(/tema1/images//home/cover.jpg)"
  ></div>
  <!-- HOME BG IMAGE -->

  <!-- HOME BG LOGO -->
  <div class="home-bg-logo">
    <img src="/tema1/images/home/icon-bg.svg" alt="icon" />
  </div>
  <!-- HOME BG LOGO -->

  <!-- .home-menu -->
  <nav class="home-menu">
    <a href="/about" data-slug="about">
      <span class="item-name">Hakkımda</span>
    </a>
    <a href="/resume" data-slug="resume">
      <span class="item-name">Özgeçmiş</span>
    </a>
    <a href="/portfolio" data-slug="portfolio" id="portfolio-link">
      <span class="item-name">Portfolio</span>
    </a>
    <a href="/blog/latest" data-slug="blog">
      <span class="item-name">Blog</span>
    </a>
    <a href="/contact" data-slug="contact">
      <span class="item-name">İletişim</span>
    </a>
  </nav>
  <!-- .home-menu -->

  <!-- .home-heading -->
  <div class="home-heading">
    <!-- .home-logo -->
    <div class="home-logo">
      <p class="home-job-title">Javascript Developer</p>

      <p class="home-marquee">buraya sonra yazıcam birşeyler</p>

      <i class="home-logo-left"><span>Javascript</span></i>
      <i class="home-logo-center">
        <span class="home-icon">
          <img src="/tema1/images//home/icon.svg" alt="icon" />
        </span>
        <span class="home-text-container">
          <span class="home-text-container-placeholder">Tolga Çağlayan</span>
        </span>
        <span class="home-text">Tolga Çağlayan</span>
      </i>
      <i class="home-logo-right"><span>Developer</span></i>
    </div>
    <!-- .home-logo -->
  </div>
  <!-- .home-heading -->

  <!-- .home-social -->
  <p class="home-social">
    <a class="social-link facebook" href="https://facebook.com/tolgaand"></a>
    <a class="social-link instagram" href="https://instagram.com/tolgaand"></a>
    <a class="social-link github" href="https://github.com/tolgaand"></a>
  </p>
  <!-- .home-social -->

  <!-- .home-footer -->
  <p class="home-footer">&copy; 2020 - Tüm Hâkları Saklıdır</p>
  <!-- .home-footer -->

  <!-- FULL SCREEN TOGGLE -->
  <div class="full-screen-wrap">
    <div class="top-left"></div>
    <div class="top-left-horiz"></div>
    <div class="top-right"></div>
    <div class="top-right-horiz"></div>
    <div class="bottom-left"></div>
    <div class="bottom-left-horiz"></div>
    <div class="bottom-right"></div>
    <div class="bottom-right-horiz"></div>
  </div>
  <!-- FULL SCREEN TOGGLE -->

  <!-- REMOVE THIS MARKUP TO DISABLE BG AUDIO -->

  <div class="bg-music-confirm">
    <p>Autoplay Music?</p>
    <p><a class="bg-music-yes">Yeah!</a> <a class="bg-music-no">Nope</a></p>
  </div>

  <!-- HOME BG MUSIC -->
  <div id="play-music" class="play-music">
    <div id="music-animation" class="music-animation">
      <span class="music-bar bar1"></span>
      <span class="music-bar bar2"></span>
      <span class="music-bar bar3"></span>
      <span class="music-bar bar4"></span>
      <span class="music-bar bar5"></span>
    </div>
    <div class="music-toggle" id="music-toggle">
      <a id="toggle" data-on-text="Muzik Açık" data-off-text="Müzik Kapalı"
        >Müzik kapalı</a
      >
    </div>
  </div>

  <audio id="bg-music" loop src="/tema1/audio/music2.mp3"></audio>
  <!-- HOME BG MUSIC -->

  <!-- REMOVE THIS MARKUP TO DISABLE BG AUDIO -->
</div>
<!-- .home-wrap -->

<!-- .one-page-content-->
<div class="one-page-content">
  <a href="/" class="close-page">
    <span class="close-text"></span>
  </a>

  <div class="content-wrap"></div>
</div>
<!-- .one-page-content-->

<!-- page transition overlays -->
<div class="overlay overlay-1"></div>
<div class="overlay overlay-2"></div>
<!-- page transition overlays -->

<!-- PORTFOLIO SINGLE AJAX CONTENT CONTAINER -->
<div class="p-overlay"></div>
<div class="p-overlay"></div>
