<!-- PAGE -->
<div id="page" class="hfeed site">
  <!-- .site-main -->
  <main id="main" class="site-main cd-main">
    <!-- HEADER -->
    <%- include("../partials/header") %>

    <!-- HEADER -->

    <!-- site-middle -->
    <div class="site-middle">
      <div class="layout-medium">
        <div id="primary" class="content-area">
          <!-- site-content -->
          <div id="content" class="site-content" role="main">
            <!-- .portfolio-single -->
            <div class="portfolio-single page-layout">
              <!-- .hentry -->
              <article class="hentry">
                <!-- .entry-header -->
                <header class="entry-header">
                  <!-- PORTFOLIO-NAV -->
                  <div class="portfolio-nav">
                    <span class="prev ajax"
                      ><a href="portfolio-item-03.html">Prev</a></span
                    >
                    <span class="back"><a href="#/portfolio">Close</a></span>
                    <span class="next ajax"
                      ><a href="portfolio-item-02.html">Next</a></span
                    >
                  </div>
                  <!-- PORTFOLIO-NAV -->

                  <!-- TITLE -->
                  <h1 class="entry-title">Vans illustrations</h1>
                  <!-- TITLE -->
                </header>
                <!-- .entry-header -->

                <!-- .entry-content -->
                <div class="entry-content">
                  <!-- .portfolio-desc -->
                  <div class="portfolio-desc">
                    <p>
                      Vans isn't longer just a skateboarding brand, is become a
                      broader lifestyle brand. The Old Skool and Classic Vans
                      inspired me to create a series of figures that represent
                      this new lifestyle and also explore new principles,
                      organic and geometric shapes that are also associated with
                      the products.
                    </p>

                    <div class="portfolio-meta">
                      <span><strong>Client</strong> Vans</span>
                      <span><strong>Date</strong> 2019-03-01</span>
                      <span
                        ><strong>Services</strong> Branding, Illustration</span
                      >
                    </div>

                    <p>
                      <a
                        href="https://www.behance.net/gallery/77400809/Vans-Faces"
                        target="_blank"
                        class="button primary"
                        >LAUNCH PROJECT</a
                      >
                    </p>
                  </div>
                  <!-- .portfolio-desc -->

                  <p>
                    <img
                      src="/tema1/images/portfolio/single/01.jpg"
                      alt="project"
                    />
                    <img
                      src="/tema1/images/portfolio/single/02.jpg"
                      alt="project"
                    />
                    <img
                      src="/tema1/images/portfolio/single/03.jpg"
                      alt="project"
                    />
                  </p>
                </div>
                <!-- .entry-content -->
              </article>
              <!-- .hentry -->
            </div>
            <!-- .portfolio-single -->
          </div>
          <!-- site-content -->
        </div>
        <!-- primary -->
      </div>
      <!-- layout -->
    </div>
    <!-- site-middle -->

    <!-- .site-footer -->
    <%- include("../partials/footer") %>

    <!-- .site-footer -->
  </main>
  <!-- .site-main -->

  <!-- ALERT : used for contact form mail delivery alert -->
  <div class="site-alert animated"></div>
</div>
<!-- PAGE -->

<a href="#" id="back-to-top" class="show">↑ <span>Scroll to top</span></a>
