<!-- PAGE -->
<div id="page" class="hfeed site">
  <!-- .site-main -->
  <main id="main" class="site-main cd-main">
    <!-- HEADER -->
    <%- include("../partials/header") %>

    <!-- HEADER -->

    <!-- site-middle -->
    <div class="site-middle">
      <div class="layout-medium">
        <div id="primary" class="content-area">
          <!-- site-content -->
          <div id="content" class="site-content" role="main">
            <!-- .page-single -->
            <div class="page-single page-layout">
              <!-- .hentry -->
              <article class="page hentry">
                <!-- .entry-header -->
                <header class="entry-header">
                  <h1 class="entry-title"><%= s.currentInfo.title %></h1>
                </header>
                <!-- .entry-header -->

                <!-- .entry-content -->
                <div class="entry-content">
                  <!-- row -->
                  <div class="row">
                    <!-- col -->
                    <div class="col-sm-6 col-lg-7">
                      <div class="event">
                        <h2>İŞ GEÇMİŞİM</h2>
                        <p>
                          <i class="pw-icon-badge"></i>
                          <!--<img src="/tema1//tema1/js//site/icon-03.png" alt="image"/>-->
                        </p>
                      </div>

                      <div class="event">
                        <h3>Temmuz 2020 - Şuan</h3>
                        <h4>Freelance developer</h4>
                        <h5>Webmaster forumları.</h5>
                        <p>
                          Çeşitli webmaster forumlarında, küçük / büyük projeler yapıyorum.
                        </p>
                      </div>

                      <div class="event">
                        <h3>Haziran 2019 - Ağustos 2019</h3>
                        <h4>Stajyer</h4>
                        <h5>Smartme Teknolojileri LTD. ŞTİ.</h5>
                        <p>
                         Stajyer olarak 1 ay boyunca çalıştım. Genellikle html,css ve wordpress tabanlı bilgiler edindim.
                        </p>
                      </div>

                      <div class="event">
                        <h2>EĞİTİM</h2>
                        <p>
                          <i class="pw-icon-education"></i>
                          <!--<img src="/tema1//tema1/js//site/icon-03.png" alt="image"/>-->
                        </p>
                      </div>

                      <div class="event">
                        <h3>2020 - şuan</h3>
                        <h4>YÖNETİM BİLİŞİM SİSTEMLERİ</h4>
                        <h5>İstanbul Üniversitesi AÖF</h5>
                      </div>

                      <div class="event">
                        <h3>2016 – 2020</h3>
                        <h4>BİLİŞİM TEKNOLOJİLERİ</h4>
                        <h5>Esenler Meslek-î ve Teknik Anadolu Lisesi</h5>
                      </div>

                      <div class="event">
                        <h3>2008 - 2016</h3>
                        <h4>İlkokul & Ortaokul</h4>
                        <h5>Türk – İsveç kardeşlik ilkokulu / ortaokulu</h5>
                 
                      </div>

                      <p>
                        <a href="https://s203i.storage.yandex.net/rdisk/29bb4aa064f4c9321a929fb3c248c6176cf3b22bb3e04ecf65ef935db33469dd/5fd4cd30/T1TFYbu4hC0KrOKI5tqTrs2S7fflUnPU_zajak8jOeqz3x5ZrTRY3NnXlTq_RcFamEQPiCK8CfuN-N4L72gs3w==?uid=403256298&filename=tolgaCV2.pdf&disposition=attachment&hash=&limit=0&content_type=application%2Fpdf&owner_uid=403256298&fsize=382163&hid=036c415134ae486bf2d88e1eeae94056&media_type=document&tknv=v2&etag=0168f968bccaba54908ecec499d798b4&rtoken=uPqOIe3NalVT&force_default=yes&ycrid=na-256c3bee6c2c4317cc0455a6901b274b-downloader18e&ts=5b644d7e9ac00&s=200861c8d4ad71c8ab50af4e1be872d23c57950ff0fd542a88774500358fa711&pb=U2FsdGVkX19UgAY75aqMeOd0AiOQbN1vF0zABXEcuPEiNn_fruxcg3t3OyrAxqablBIUeePF_cqB6Qmh6_uzj6f6LAVsFix1FYK9r46FdEk" class="button primary"
                          ><i class="pw-icon-doc-alt"></i>Özgeçmişi indir</a
                        >
                      </p>
                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-sm-6 col-lg-5">
                      <!-- section-title -->
                      <div class="section-title center">
                        <h2>
                          <i>Kodlama becerileri</i>
                        </h2>
                      </div>
                      <!-- section-title -->

                      <!-- .skill-unit -->
                      <div class="skill-unit">
                        <h4>Javascript</h4>
                        <div class="bar" data-percent="90">
                          <div class="progress"></div>
                        </div>
                      </div>
                      <!-- .skill-unit -->
                      <!-- .skill-unit -->
                      <div class="skill-unit">
                        <h4>Nodejs</h4>
                        <div class="bar" data-percent="80">
                          <div class="progress"></div>
                        </div>
                      </div>
                      <!-- .skill-unit -->
                      <!-- .skill-unit -->
                      <div class="skill-unit">
                        <h4>HTML5 & CSS3</h4>
                        <div class="bar" data-percent="85">
                          <div class="progress"></div>
                        </div>
                      </div>
                      <!-- .skill-unit -->

                      <!-- .skill-unit -->
                      <div class="skill-unit">
                        <h4>Wordpress</h4>
                        <div class="bar" data-percent="70">
                          <div class="progress"></div>
                        </div>
                      </div>
                      <!-- .skill-unit -->

                      <!-- .skill-unit -->
                      <div class="skill-unit">
                        <h4>PHP</h4>
                        <div class="bar" data-percent="10">
                          <div class="progress"></div>
                        </div>
                      </div>
                      <!-- .skill-unit -->

                      <!-- .skill-unit -->
                      <div class="skill-unit">
                        <h4>Mysql & mongodb</h4>
                        <div class="bar" data-percent="40">
                          <div class="progress"></div>
                        </div>
                      </div>
                      <!-- .skill-unit -->
                      <!-- .skill-unit -->
                      <div class="skill-unit">
                        <h4>python</h4>
                        <div class="bar" data-percent="5">
                          <div class="progress"></div>
                        </div>
              

                      <!-- Testimonial -->
                      <div class="testo">
                        <img
                          src="/tema1/images/site/testo-01.jpg"
                          alt="someone"
                        />
                        <h3>Marcian</h3>
                        <h5>R10.net Webmaster Müşteri</h5>
                        <p>
                          JS konusunda birlikte çalıştık. Çok memnun kaldım. 10/10
                        </p>
                      </div>
                      <!-- Testimonial -->
                        <!-- Testimonial -->
                        <div class="testo">
                          <img
                            src="/tema1/images/site/testo-01.jpg"
                            alt="someone"
                          />
                          <h3>okangurkans</h3>
                          <h5>R10.net Webmaster Müşteri</h5>
                          <p>
                            Çözüm odaklı, İstediğim çalışmayı çok hızlı bir şekilde yapıp teslim etti
                          </p>
                        </div>
                        <!-- Testimonial -->

                          <!-- Testimonial -->
                      <div class="testo">
                        <img
                          src="/tema1/images/site/testo-01.jpg"
                          alt="someone"
                        />
                        <h3>VektorMedya</h3>
                        <h5>R10.net Webmaster Müşteri</h5>
                        <p>
                          İstenileni kolayca anlayıp hızlıca çözümler üreten yazılımcı A++                        </p>
                      </div>
                      <!-- Testimonial -->

                        <!-- Testimonial -->
                        <div class="testo">
                          <img
                            src="/tema1/images/site/testo-01.jpg"
                            alt="someone"
                          />
                          <h3>ironice</h3>
                          <h5>R10.net Webmaster Müşteri</h5>
                          <p>
                            Kendisiyle görüştük anlaştık ve projeyi tamamladık. Kendisi excel üzerinden woocomerce altyapılı web siteye ürün çekme botu kodladı. Bot çok güzel ve temiz çalışıyor.
                          </p>
                        </div>
                        <!-- Testimonial -->

                          <!-- Testimonial -->
                      <div class="testo">
                        <img
                          src="/tema1/images/site/testo-01.jpg"
                          alt="someone"
                        />
                        <h3>ufuksezgin

                        </h3>
                        <h5>Bionluk.com Webmaster Müşteri</h5>
                        <p>
                          Çok ilgili ve yardımcı olan bir kardeşimiz. Kesinlikle iş yaptırabilirsiniz.

                        </p>
                      </div>
                      <!-- Testimonial -->


                    </div>
                    <!-- col -->
                  </div>
                  <!-- row -->
                </div>
                <!-- .entry-content -->
              </article>
              <!-- .hentry -->
            </div>
            <!-- .page-single -->
          </div>
          <!-- site-content -->
        </div>
        <!-- primary -->
      </div>
      <!-- layout -->
    </div>
    <!-- site-middle -->

    <!-- .site-footer -->
    <%- include("../partials/footer") %>

    <!-- .site-footer -->
  </main>
  <!-- .site-main -->

  <!-- ALERT : used for contact form mail delivery alert -->
  <div class="site-alert animated"></div>
</div>
<!-- PAGE -->

<a href="#" id="back-to-top" class="show">↑ <span>Scroll to top</span></a>
