<footer id="colophon" class="site-footer" role="contentinfo">
  <!-- .site-info -->
  <div class="site-info">
    <div class="textwidget">
      <p>
        <a href="http://pixelwars.org/"
          >Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          - <%= s.siteInfo.data.footer %></a
        >
      </p>
    </div>
  </div>
  <!-- .site-info -->
</footer>
