<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      <%= typeof s.currentInfo != "undefined" ? s.currentInfo.title : "" %> -
      <%= s.siteInfo.data.headerPrefix %>
    </title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link rel="stylesheet" href="/admin/font/iconsmind-s/css/iconsminds.css" />
    <link
      rel="stylesheet"
      href="/admin/font/simple-line-icons/css/simple-line-icons.css"
    />

    <link rel="stylesheet" href="/admin/css/vendor/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/admin/css/vendor/bootstrap.rtl.only.min.css"
    />
    <link
      rel="stylesheet"
      href="/admin/css/vendor/bootstrap-float-label.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"
      integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/tema1/js/nprogress/nprogress.css"
    />
    <link rel="stylesheet" href="/admin/css/main.css" />
  </head>

  <body class="background show-spinner no-footer">
    <%- body %>
    <script src="/admin/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/admin/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/admin/js/dore.script.js"></script>
    <script src="/tema1/js/nprogress/nprogress.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
      integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
      crossorigin="anonymous"
    ></script>
    <script src="/admin/js/scripts.js"></script>
    <script src="/admin/js/login.js"></script>
  </body>
</html>
