<!DOCTYPE html>
<html
  lang="en"
  class="no-js classic-page-layout"
  data-audio-tick="audio/tick.mp3"
  data-click-ripple-animation="yes"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="ikonik - Responsive HTML5 vCard Template"
    />
    <meta name="keywords" content="vcard, html5, portfolio" />
    <meta name="author" content="Pixelwars" />
    <meta name="theme-color" content="#1755cf" />

    <title>
      <%= typeof s.currentInfo != "undefined" ? s.currentInfo.title : "" %> -
      <%= s.siteInfo.data.headerPrefix %>
    </title>

    <!-- FAV and TOUCH ICONS -->
    <link rel="shortcut icon" href="/tema1/images/ico/favicon.ico" />
    <link
      rel="apple-touch-icon"
      href="/tema1/images/ico/apple-touch-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"
      integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag=="
      crossorigin="anonymous"
    />
    <!-- FONTS -->
    <link rel="stylesheet" href="/tema1/css/fonts/jost/jost.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />

    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="/tema1/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/tema1/css/bootstrap.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/tema1/js/nprogress/nprogress.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/tema1/js/jquery.magnific-popup/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/tema1/css/fonts/fontello/css/fontello.css"
    />
    <link rel="stylesheet" type="text/css" href="/tema1/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/tema1/css/768.css" />

    <!-- INITIAL SCRIPTS -->
    <script src="/tema1/js/jquery.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>

  <body>
    <%-body%>

    <!-- SCRIPTS -->
    <script src="/tema1/js/tween-max.js"></script>
    <script src="/tema1/js/jquery-address.js"></script>
    <script src="/tema1/js/nprogress/nprogress.js"></script>
    <script src="/tema1/js/jquery-isotope.js"></script>
    <script src="/tema1/js/imagesloaded.js"></script>
    <script src="/tema1/js/jquery-fitvids.js"></script>
    <script src="/tema1/js/jquery.magnific-popup/jquery-magnific-popup.js"></script>
    <script src="/tema1/js/jquery-easing.js"></script>
    <script src="/tema1/js/jquery-validate.js"></script>
    <script src="/tema1/js/resize-sensor.js"></script>
    <script src="/tema1/js/jquery-sticky-sidebar.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
      integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
      crossorigin="anonymous"
    ></script>
    <script src="/tema1/js/main.js"></script>
    <script src="/tema1/js/blog.js"></script>
  </body>
</html>
